body{
    background: url(../img/fizz.jpg) no-repeat center center fixed;
    background-size: cover ;
}



.fondo-oscuro{
    background-color: rgba(14, 50, 117, 0.219);
    color:#eee
}

.fondo-claro{
    background-color: rgba(162, 178, 207, 0.219);
    color:rgb(43, 25, 25)

}